@font-face {
    font-family: LovelyBubbles;
    src: url("Lovely_Bubbles.ttf");
}

.titulo {
    display: flex;
    background-color: #d8d8d8;
    justify-content: center;
    align-items: center;
    font-family: LovelyBubbles;
    font-size: 50px; 
    font-weight: 600; 
    color: #d8c8a8; 
    -webkit-text-stroke: 3px #d8b868; 
    /* border: 10px solid #d8b868;  */
    letter-spacing: 3px;
}

.video{
    display: flex;
}

.fm-video{
    width: 100%;
    box-shadow: 0px 0px 6px 0px #d8d8d8;
}

.fm-video .vjs-control-bar {
    background-color: none;
    background: #f4f4f4;
    color: #d8b868;
}
